<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.9.1" />
  <package id="MathNet.Spatial" version="0.6.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
</packages>