# Unity generated
/Library
/Logs
/Temp
/UserSettings

# Mono crashlogs
/mono_crash.*.blob

# Generic logfiles
*.log

# Native RealSense plugin artifact and meta
/Assets/Simulation/RealSense/UnityRSPublisherPlugin.so
/Assets/Simulation/RealSense/UnityRSPublisherPlugin.so.meta
